.load {
    border: 16px solid black;
    border-radius: 100%;
    border-top: 16px solid white;
    width: 120px;
    height: 120px;
    animation: rotate 2s linear infinite;
    background: linear-gradient(90deg, white)
    ;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(http://bit.ly/2gPLxZ4);
}






h1 {
    text-align: center;
}