*{
    margin: 0;
    padding: 0;
   }
   
   html{
       width: 100vw;
       height: 100vh;
   }
   
   
   body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(
   http://bit.ly/2gPLxZ4
   );
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
     font-weight: 400;
    -webkit-font-smoothing: antialiased; 
   }
   
   .blurred-box{
     position: relative;
     width: 250px;
     height: 350px;
     top: calc(50% - 175px);
     left: calc(50% - 125px);
     background: inherit;
     border-radius: 2px;
     overflow: hidden;
   }
   
     .user-login-box{
     position: relative;
     margin-top: 50px;
     text-align: center;
     z-index: 1;
   }
   .user-login-box > *{
     display: inline-block;
     width: 200px;
     text-align: center;
   }
   
   .user-icon{
     width: 100px;
     height: 100px;
     position: relative;
     border-radius: 50%;
     background-size: contain;
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGWAEDgq5hmUqfLPeCtRH3AJOtbK6c-N5R5jDJRc7xByrhENoXRqkJCGJwaW3tDpxmH0g&usqp=CAU);
   }
   
   .user-name{
     margin-top: 15px;
     margin-bottom: 15px;
     color: #fff;
   }
   
   input.user-password{
     width: 120px;
     height: 18px;
     opacity: 0.4;
     border-radius: 2px;
     padding: 5px 15px;
     border: 0;
   }

   .image {
    text-align: center;
    padding-top: 100px;
   }

  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
 
  .btn-3 {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(2,126,251,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
    background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color: rgba(2,126,251,1);
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 1px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }

  h6 {
    padding-left: 540px;
    padding-top: 35px;
  }
