body {
    background-image: url(https://img.freepik.com/premium-photo/football-stadium-with-the-stands-full-of-fans-waiting-for-the-night-game_207634-2643.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
   li {
    float: left;
    border-right:1px solid #bbb;
    font-size: 20px;
  }
    li:last-child {
    border-right: none;
  }
   li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
    background-color: rgb(9, 129, 228);
    color: #302506;
    border-style: dotted;
    font-family: Lucida Handwriting, Cursive;
    border-radius: 10px;
  }
  .active {
    background-color: #04AA6D;
  }
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  div.gallery:hover {
    border: 1px solid #777;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  div.desc {
    padding: 15px;
    text-align: center;
    color: greenyellow;
  }
h2 {
    background: url(https://img.freepik.com/premium-photo/football-stadium-with-the-stands-full-of-fans-waiting-for-the-night-game_207634-2643.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-left: 30px;
    max-width: 1200px;
    margin: 30px auto;
    text-align: center;
    font-size: 25px;
    border-style: dotted;
    border-radius: 15px;
  }
div.galleryy {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  div.galleryy:hover {
    border: 1px solid #777;
  }
  div.galleryy img {
    width: 100%;
    height: auto;
  }
  div.desc {
    padding: 15px;
    text-align: center;
    color: greenyellow;
  }
div.galleryy {
    float: right;
  }
li {
    font-size: 24px;
  }
.top {
    background-color: #1e1e1e;
    height: 100px;
    margin: 10px 30px 10px 30px;
    width: 98%;
    font-family: Lucida Handwriting, Cursive;
}
#main {
  display: inline-block;
  float: left;
  margin: 20px 33px;
  background-color: #1e1e1e;
  height: 600px;
  width: 60%;   
  font-family: Lucida Handwriting, Cursive;
}
#mainmain {
  display: inline-block;
  float: left;
  margin: 20px 33px;
  background-color: #1e1e1e;
  height: 350px;
  width: 20%;
  font-family: Lucida Handwriting, Cursive;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 95%;
  height: 8%;
  margin: 10px 30px 10px 30px;
  font-family: Lucida Handwriting, Cursive;
  text-align: center;
  padding: 3px;
  background-color: #1e1e1e;
  color: white;
}
h5 {
  color: rgb(9, 129, 228);
  font-size: 20px;
  text-align: center;
}
h6 {
  font-size: 18px;
  color: #00CC66;
}
.text {
  cursor: pointer;
}
h1 {
  float: left;
  color: wheat;
  font-size: 20px;
}
h3 {
  text-align: center;
}

#Postly {
  padding: 30px;
}
#Post {
  padding: 30px;
}
#Postl {
  padding: 10px;
}

#pad {
  padding-right: 50px;
}
li {
  font-size: 18px;
}
.up {
  padding: 100px;
  color: red;
}
.ai {
  padding: 60px;
}