body {
    background-image: url(https://img.freepik.com/premium-photo/football-stadium-with-the-stands-full-of-fans-waiting-for-the-night-game_207634-2643.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
    font-size: 20px;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background: url(https://img.freepik.com/premium-photo/football-stadium-with-the-stands-full-of-fans-waiting-for-the-night-game_207634-2643.jpg);
  }
  
  .active {
    background-color: #04AA6D;
  }


  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    color: greenyellow;
  }


  h2 {
    background: url(https://img.freepik.com/premium-photo/football-stadium-with-the-stands-full-of-fans-waiting-for-the-night-game_207634-2643.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    max-width: 1200px;
    margin: 30px auto;
    text-align: center;
    font-size: 25px;
  }

