h1,
h3 {
    text-align: center;
}

a:link, a:visited {
    overflow: hidden;
    background-color: #333;
    color:white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }
    
    a:hover, a:active {
    background-color:#ddd;
    color: #333;
    padding: 5px 10px;
    }

    body {
        background: url(https://celes.club/uploads/posts/2022-06/thumbs/1654609743_58-celes-club-p-lionel-messi-oboi-krasivie-64.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
      .floating-button {
        text-decoration: none;
        display: inline-block;
        width: 140px;
        height: 45px;
        line-height: 45px;
        border-radius: 45px;
        margin: 10px 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        font-weight: 600;
        color: #524f4e;
        background: white;
        box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
        transition: .3s;
        }
        .floating-button:hover {
        background: #2EE59D;
        box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
        color: white;
        transform: translateY(-7px);
        }



        .pad-div {
          padding: 1px ;
        }

        .par-div {
          padding: 10px;
        }

        .pat-div {
          padding: 10px;
        }

        .pao-div {
          padding: 10px;
        }

        .pas-div {
          padding: 30px;
        }

        .pak-div {
          padding: 10px;
        }

        .paw-div {
          padding: 10px;
        }

        .paj-div {
          padding: 10px;
        }

        .pay-div {
          padding: 30px;
        }

        .pam-div {
          padding: 10px;
        }

        .paq-div {
          padding: 10px;
        }

        .pau-div {
          padding: 10px;
        }

        .padggg-div {
          padding: 100px ;
        }

        .noj-div {
          padding: 10px;
        }

        .pajt-div {
          padding: 10px;
        }

        .pajj-div {
          padding: 10px;
        }

        .pajrr-div {
          padding: 10px;
        }

        .pajuu-div {
          padding: 10px;
        }

        .payyyy-div {
          padding: 10px;
        }

        .pajqwq-div {
          padding: 10px;
        }

        .pannn-div {
          padding: 10px;
        }

        .pajton-div {
          padding: 10px;
        }


        h5 {
          font-size: 20px;
        }


