h1,
h3 {
    text-align: center;
}

body {
    margin: 0;
    font-family: Tahoma, sans-serif;
}

.video-bg {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.intro {
    max-width: 215vh;
    overflow: hidden;
    position: relative;
}

.intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.intro__content {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.video {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.video__media {
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
}

body {
    background: url(https://turkmenportal.com/images/uploads/blogs/c42f2093b76b2cff86ff11398338c6f6.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

a:link, a:visited {
    overflow: hidden;
    background-color: #333;
    color:white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }
    
    a:hover, a:active {
    background-color:#ddd;
    color: #333;
    padding: 5px 10px;
    }
