h1,
h3 {
    text-align: center;
}

body {
    margin: 0;
    font-family: Tahoma, sans-serif;
}

.intro {
    max-width: 215vh;
    overflow: hidden;
    position: relative;
}

.intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.intro__content {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.video {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.video__media {
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
}

body {
    background: url(https://foni.club/uploads/posts/2023-01/1673548584_foni-club-p-krutie-oboi-s-messi-na-telefon-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
